<!DOCTYPE html>
<html lang="[staticoso:Page:Lang]">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="[staticoso:Site:RelativeRoot]Assets/arcisito.css">
	<link href="[staticoso:Site:RelativeRoot]Assets/Fonts/SpaceMono/Style.css" rel="stylesheet">
	<link rel="alternate" type="application/atom+xml" title="Feed Atom" href="[staticoso:Site:RelativeRoot]feed/atom.xml">
	<link rel="alternate" type="application/rss+xml" title="Feed RSS" href="[staticoso:Site:RelativeRoot]feed/rss.xml">
	<title>[staticoso:Page:Title] - [staticoso:Site:Name]</title>
	<meta name="description" content="[staticoso:Page:Description]">
	<link href="[staticoso:Site:RelativeRoot]favicon.png" rel="icon" type="image/png">
	<meta property="og:type" content="website">
	<meta property="og:title" content="[staticoso:Page:Title] - [staticoso:Site:Name]">
	<meta property="og:description" content="[staticoso:Page:Description]">
	<meta property="og:url" content="https://arci.me/[staticoso:Page:Path]">
	<meta property="og:image" content="[staticoso:Page:Image]">
	<style>
		[staticoso:Page:Style]
	</style>
	[staticoso:DynamicPart:*/Head]
	<script src="[staticoso:Site:RelativeRoot]Assets/AVIF-Polyfill/index.js"></script>
</head>
<body id="Body">
<div id="Container">
	<div id="TopBox">
		[staticoso:StaticPart:Standard/TopBox.html]
	</div>
	<div id="MiddleBox">
		<!--<div id="LeftBoxContainer">
			<details>
				<summary><big><b>[<span class="twa twa-books"><span>📚</span></span>]</b></big></summary>
				<div id="LeftBox">
					[staticoso:Site:Menu]
					[staticoso:StaticPart:Standard/LeftBoxBottom.html]
				</div>
			</details>
		</div>-->
		<div id="RightBoxContainer">
			<details>
				<summary><big><b>[<span class="twa twa-bookmark-tabs"><span>📑</span></span>]</b></big></summary>
				<div id="RightBox">
					[staticoso:Page:Chapters]
				</div>
			</details>
		</div>
		<div id="MainBox">
			<div id="MainBoxTop">
				[staticoso:Page:ContentInfo]
			</div>
			[staticoso:Page:Content]
			<div id="MainBoxBottom">
				[staticoso:Comments]
				<br>
				[staticoso:DynamicPart:*/Footer]
				<br>
				<div id="MainBoxGlobalFooter" class="Pixelated">
					[staticoso:StaticPart:Standard/Footer.html]
				</div>
			</div>
		</div>
	</div>
	<div id="BottomBoxContainer">
		<label id="BottomBoxLabel" for="BottomBoxCheck"><big><b>[<span class="twa twa-label"><span>🏷️</span></span>]</b></big></label>
		<input type="checkbox" id="BottomBoxCheck">
		<div id="BottomBox" class="ToggleBox">
			[staticoso:StaticPart:Standard/BottomBox.html]
		</div>
	</div>
</div>
</body>
</html>
