name: Build and deploy with staticoso

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  page_build:
    runs-on: ubuntu-latest
    steps:
    - name: Build
      run: |
        apt update
        apt install python3 py3-pip git
        pip3 install lxml
        git clone --depth 1 https://gitlab.com/octtspacc/staticoso
        python3 ./staticoso/Source/Build.py
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: public
